.content{
    width: 80%;
    margin: auto;
    margin-top: 5.5rem;
}
.row{
    margin: auto;
    vertical-align: middle;
    width: 70vw;
    height: 100vh;
}

.item-detail{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: auto;
    display: block;
    z-index: 150;
}


