<a  class="list-group-items"
    [routerLink]="[index]"
    routerLinkActive="active"
>
    <div class="list-group-item" routerLinkActive="active">
            <img class="item-img"
            src="{{recipe.imgPath}}" 
            alt="{{recipe.name}}"
            >
        <div class="item-desc">
            <button class="btn-like"><fa-icon [icon]="faHeart"></fa-icon></button>
            <div class="item-desc-micro">
                <p class="item-desc-micro__item"><fa-icon [icon]="faTimer"></fa-icon>15 mins</p>
                <p class="item-desc-micro__item"><fa-icon [icon]="faPlate"></fa-icon>1 servings</p>
                <p class="item-desc-micro__item"><fa-icon [icon]="faThumbsUp"></fa-icon>12 likes</p> 
            </div>
            <div class="item-desc-info">
                <p class="title"> {{recipe.name}} </p>
                <p class="desc">{{recipe.description}}</p>
            </div>
        </div>
    </div>
</a>